<h1>Genre Results</h1>

<table>
  <thead>
    <tr>
      <th>Votes</th>
      <th>Title</th>
      <th>Votes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movie_genres.popular.each do |movie_genre| %>
      <tr>
        <td><%= @movie.title %>
        <td><%= link_to movie_genre.title, movie_movie_genre_path(@movie, movie_genre) %></td>
        <td><%= pluralize movie_genre.reputation_for(:votes).to_i, "" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
